@use "sass:color";

pre {
  font-family: $mono;
}

.code {
  font-family: $mono;
  color: #00afaf;
}

/* @group Code Colorization */
span {
  &.keyword {
    color: $code-keyword;
  }

  &.keywordtype {
    color: $code-keywordtype;
  }

  &.keywordflow {
    color: $code-keywordflow;
  }

  &.comment {
    color: $code-comment;
  }

  &.preprocessor {
    color: $code-preprocessor;
  }

  &.stringliteral {
    color: $code-stringliteral;
  }

  &.charliteral {
    color: $code-charliteral;
  }

  // Unused
  &.vhdldigit {
    color: #ff00ff;
  }

  &.vhdlchar {
    color: #000000;
  }

  &.vhdlkeyword {
    color: #700070;
  }

  &.vhdllogic {
    color: #ff0000;
  }

  &.lineno {
    padding-right: 4px;
    text-align: right;
    border-right: 2px solid $code-sidebar;
    background-color: $code-background;
    color: color.scale($code-font-color, $lightness: +10%);
    white-space: pre;
    &.a {
      background-color: #d8d8d8;
      &:hover {
        background-color: #c8c8c8;
      }
    }
  }
}

.fragment {
  text-align: left;
  direction: ltr;
  overflow-x: auto; /*Fixed: fragment lines overlap floating elements*/
  overflow-y: hidden;
}

pre.fragment {
  border: 1px solid $code-border;
  background-color: $code-background;
  padding: 4px 6px;
  margin: 4px 8px 4px 2px;
  overflow: auto;
  word-wrap: break-word;
  font-size: 9pt;
  line-height: 125%;
  font-family: monospace, fixed;
  font-size: 105%;
}

div {
  &.fragment {
    padding: 0 0 1px 0; /*Fixed: last line underline overlap border*/
    margin: 4px 8px 4px 2px;
    background-color: $code-background;
    border: 1px solid $code-border;
  }

  &.line {
    font-family: $mono;
    font-size: 1em;
    color: $code-font-color;
    font-weight: 600;
    line-height: 1;
    text-wrap: unrestricted;
    text-indent: -53px;
    padding-left: 53px;
    padding-bottom: 0px;
    margin: 0px;
    transition-property: background-color, box-shadow;
    transition-duration: 0.5s;
    &:after {
      content: "\000A";
      white-space: pre;
    }

    &.glow {
      background-color: cyan;
      box-shadow: 0 0 10px cyan;
    }
  }
}

.lineno {
  user-select: none;
}

// Not really code
pre.fragment {
  background-color: white;
}

a.code, a.code:visited, a.line, a.line:visited {
	color: #4665A2;
}

a.codeRef, a.codeRef:visited, a.lineRef, a.lineRef:visited {
	color: #4665A2;
}
