// Cascadia

@font-face {
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Cascadia Code'), local('Cascadia Mono'),
        url('https://cdn.jsdelivr.net/gh/amzrk2/web-font-archive@2.0.0/cascadia-code/cascadia.woff2') format('woff2'),
}

// Product Sans

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Product Sans'), local('ProductSans-Regular'),
        url('https://cdn.jsdelivr.net/gh/amzrk2/web-font-archive@2.0.0/product-sans/product-sans.woff2') format('woff2');
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Product Sans Bold'), local('ProductSans-Bold'),
        url('https://cdn.jsdelivr.net/gh/amzrk2/web-font-archive@2.0.0/product-sans/product-sans-bold.woff2') format('woff2');
}

// Vollkorn
@import url('http://fonts.googleapis.com/css?family=Vollkorn:400,700');
