@charset "UTF-8";

// Solarized Light
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Syntax Highlighting
// Kanged from rgoswami.me
$code-border: #c4cfe5;
$code-background: #242424;
$code-font-color: #8a8a8a;
$code-sidebar: #0f0;
$code-keyword: #0087ff;
$code-keywordtype: #ea215a;
$code-keywordflow: #008000;
$code-comment: #4e4e4e;
$code-preprocessor:#5f8700;
$code-stringliteral: $violet;
$code-charliteral: #008080;

/* Layout */
$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Typography */
$serif: Vollkorn, Palatino, Book Antiqua, serif;
$sans-serif: "PT Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  Helvetica, Arial, sans-serif;
$mono: "Cascadia Code", "Fira Code", Hack, Consolas, Monaco, "Ubuntu Mono", Menlo, Consolas, monospace;
$browser-context: 20px;

// Responsive Types
// Weights
$regular: 400;
$bold: 800;

// Sizes
$base-text-xs: em(18); // required
$base-text-sm: em(19);
$base-text-md: em(20);
$base-text-lg: em(21);
$base-text-xl: em(22);

// Headings
$heading-base-size: 1.35em;
$heading-scale-ratio: 1.333;

// Line Heights
$heading-line-height: 1;
$body-line-height: 1.566;
